@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*------ Variaveis ------*/
:root {
    /* Cores */
    --cor-amarelo: #FFC222;
    --cor-cinza-azulado: #3B4654;
    --cor-cinza-escuro: #30333C;
    --cor-dark: #24272f;
    --cor-background-light: #E8EAE2;
    --cor-branco: #FFF;
    --cor-cinza-light: #515356;

    --card-border-radius: 2rem;
    --border-radius-1: .4rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1.2rem;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    user-select: none;
    /* overflow-x: hidden; */

}

/*------ main (Conteúdo Principal) ------*/
main {
   display: grid;
   height: 95vh;
   width: 96%;
   margin: 0 auto;
   gap: 1.8rem;
   grid-template-columns: 14rem auto 23rem;
   /* background: var(--cor-background-light); */
}

a {
   color: var(--cor-cinza-escuro);
}

img {
   display: block;
   width: 100%;
}

h1 {
   font-weight: 800;
   font-size: 1.4rem;
}

aside {
   height: 95vh;
   width: 12em;
   position: fixed;
   left: 0;
   top: 0;
   background-color: var(--cor-cinza-light);
}

aside .top {
   /* background-color: var(--cor-cinza-escuro); */
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 1.4rem;
}

aside .logo img {
   height: 2.3em;
}

aside .close {
   display: none;
}

/* ========= Sidebar ========= */

aside .sidebar {
   background: #515356;
   display: flex;
   flex-direction: column;
   height: 82vh;
   position: relative;
   top: 2em;
   padding: .7em .5em;
}

.sidebar a {
   display: flex;
   gap: .4em;
   margin: .4em 0.7em;
}



/*------ footer (Rodapé) ------*/
footer {
    width: 100%;
    height: 5vh;
    background: var(--cor-dark);
    color: #fff;
    font-size: small;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:center;
}

footer strong {
    color: var(--cor-amarelo);
}